{% extends 'base.html' %}
{% block title %} IdeaHub.io | My Ideas {% endblock %}
{% block content %}

{% for idea in idea_list %}

  <div class="card text-center" style="width: 22rem; margin: 1rem">
  <img id='logo_img' class="card-img-top mx-auto" src="{{ idea.logo_url }}" alt="Card image cap" style="height: 15em; width: 15em">
  <div class="card-body">
    <h5 class="card-title">{{ idea.name }}</h5>

    {% if idea.user != user%}
    <p class="card-subtitle">Created by {{ idea.user }}</p>
    {% endif %}

    <p class="card-text">{{ idea.description }}</p>
    <a id='detail-btn' href="{% url 'detail' idea.id %}" class="btn btn-primary align-self-end">View Details</a>
  </div>
</div>

{% endfor %}

{% endblock %}