{% extends 'base.html'%}
{% block title %} IdeaHub.io | {% if object %}Edit {% else %}Create New {% endif %}Idea{% endblock %}


{% block content %}
<div class='form-block forgot done'>
  {% if object %}
    <h1>Edit <span class='teal-text'>{{object.name}}</span></h1>
  {% else %}
    <h1> Create a new idea </h1>
  {% endif %}

  <form action="" method="post">
    {% csrf_token %}
      {{ form.as_table}}
    <input type='submit' value='Submit' class='btn btn-primary'>
  </form>
</div>

{% endblock %}