{% extends 'base.html' %}
{% block title %} IdeaHub.io | Public Ideas {% endblock %}
{% block content %}

{% for idea in idea %}

  <!-- If idea's user == current user, do nothing. Else, display some cards-->
  {% if idea.user == user %}
  {% elif idea.is_public == True %}
  <div class="card text-center" style="width: 22rem; margin: 1rem">
  <img id='logo_img' class="card-img-top mx-auto" src="{{ idea.logo_url }}" alt="Card image cap" style="height: 15em; width: 15em">
  <div class="card-body">
    <h5 class="card-title">{{ idea.name }}</h5>

    {% if idea.user != user%}
    <p class="card-subtitle p-1">Created by {{ idea.user }}</p>
    {% endif %}
    <!-- Conditional liked statement here -->
    {% if idea.liked_set.all|length > 1 %}
    <p>{{ idea.liked_set.all|length }} people liked this idea</p>
    {% elif idea.liked_set.all|length == 1%}
    <p> 1 person liked this idea</p>
    {% endif %}
    <p class="card-text">{{ idea.description }}</p>
    <a id='detail-btn' href="{% url 'detail' idea.id %}" class="btn btn-primary align-self-end">View Details</a>
  </div>
</div>
{% endif %}
{% empty %}
<div class='form-block forgot'>
  <h1>There are no public ideas</h1>
</div>
{% endfor %}

{% endblock %}