.content {
  min-height: calc(100vh - 50px);
}
.footer {
  height: 50px;
  background-color: blue;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#detail-btn {
  align-self: flex-end;
  position: relative;
  bottom: 0
}

img {
  padding: 0.7rem;
}

#navlogo {
  padding: 0;
  margin: 0
}

.navbar-brand {
  margin-left: 1rem;
}