.content {
  min-height: calc(100vh - 50px);
}
.footer {
  height: 50px;
  background-color: blue;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#detail-btn {
  align-self: flex-end;
  position: relative;
  bottom: 0
}

img {
  padding: 0.7rem;
}

#navlogo {
  padding: 0;
  margin: 0
}

.navbar-brand {
  margin-left: 1rem;
}

.form-block {
  background-color: lightcoral;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  padding: 3rem;
  margin-top: 4rem;
  width: 80%;
  height: 30rem;
  border-radius: 30px;
}

.form-block input {
  width: 90%;
  margin: 0.6rem;
}

.detail-img-container {
  width: 40rem;
}

.fa-times {
  color: white
}

.img-wrap { position: relative; }
.img-wrap img { display: block; }
.img-wrap .fa-times { position: absolute; bottom:15px; left:15px; }