{% extends 'base.html'%}
{% block title%}{{ idea.name }}'s Chat{% endblock %}
{% load static %}
{% block content%}
    <div id='chatroom'>
        <div class='chatroom-header'> Welcome to {{ idea.name }}'s Chatroom</div>
        <div id="chat-log" cols="100" rows="20"></div><br>
        <div class='chatcontrols'>
            <input id="chat-message-input" type="text" size="100"><br>
            <input id="chat-message-submit" type="button" value="Send">
        </div>
        {{ room_name|json_script:"room-name" }}
        {{ request.user.username|json_script:"user_username" }}
        <script>
            const roomName = JSON.parse(document.getElementById('room-name').textContent);
            const user_username = JSON.parse(document.getElementById('user_username').textContent);
            const chatSocket = new WebSocket(
                'wss://'
                + window.location.host
                + '/wss/chat/'
                + roomName
                + '/'
            );

            chatSocket.onmessage = function(e) {
                const data = JSON.parse(e.data);
                let msg = document.createElement('p')
                // function to scroll chat view to new message
                function scrollToBottom() {
                    let messages = document.querySelector('#chat-log').lastElementChild
                    console.log(messages)
                    messages.scrollIntoView()
                }
                // If data.username == user, give different class. Else, give another class (so we can style)
                if (data.username == user_username) {
                    msg.innerText = data.message
                    msg.className = 'userMsg'
                    document.querySelector('#chat-log').append(msg)
                    
                } else {
                    msg.innerText = data.username + ": "  + data.message
                    msg.className = 'OtheruserMsg'
                    document.querySelector('#chat-log').append(msg)
                }
                scrollToBottom()
                // document.querySelector('#chat-log').value += (data.username + ": "  + data.message + '\n');
            };

            chatSocket.onclose = function(e) {
                console.error('Chat socket closed unexpectedly');
            };

            document.querySelector('#chat-message-input').focus();
            document.querySelector('#chat-message-input').onkeyup = function(e) {
                if (e.keyCode === 13) {  // enter, return
                    document.querySelector('#chat-message-submit').click();
                }
            };

            document.querySelector('#chat-message-submit').onclick = function(e) {
                const messageInputDom = document.querySelector('#chat-message-input');
                const message = messageInputDom.value;
                chatSocket.send(JSON.stringify({
                    'message': message,
                    'username': user_username,
                    'room': roomName
                }));
                messageInputDom.value = '';
            };
        </script>
    </div>
{% endblock %}