{% extends 'base.html' %}

{% block content %}

<div id='logo_card' class="card text-center" style="width: 40%; margin: 1rem; min-width: 285px;">
  <div class="img-wrap">
    <img id='detail_logo' src="{{ idea.logo_url }}" style="width: 18rem; justify-self: center;" >
    <a href="{% url 'remove_logo' idea.id %}"><i class="fas fa-times"></i></a>
  </div>
  <div class="card-body" style='text-align: left;'>
    <form action="{% url 'add_logo' idea.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
      {% csrf_token %}
        <input type="file" name="photo-file">
        <input type="submit" class="btn btn-primary" value="Upload Photo" style='margin-top: 0.4rem;'>
    </form>
  </div>
</div>

<div class="card text-center" style="width: 40%; margin: 1rem; min-width: 285px;">
  <div class="card-body" style='text-align: left;'>
    <h2 class="card-title">{{ idea.name }}</h2>
    <h4 class='card-subtitle'>{{ idea.industry }}</h4>
    {% if idea.user != user%}
    <p class="card-subtitle">Created by {{ idea.user }}</p>
    {% endif %}
    <br>
    <h5>Description: </h5>
    <p class="card-text">{{ idea.description }}</p>
    {% if idea.user == user %}
    <a href="{% url 'idea_delete' idea.id %}"><button>Delete Idea</button></a>
    <a href="{% url 'idea_update' idea.id %}"><button>Edit Idea</button></a>
    {% if idea.is_public == False %}
      <a href="{%  url 'make_public' idea.id%}"><button>Make Public</button></a>
    {% else %}
      <a href="{%  url 'make_private' idea.id%}"><button>Make Private</button></a>
    {% endif %}
  {% endif %}

  </div>
</div>

<div class="card text-center" style="width: 82.5%; margin: 1rem; min-width: 285px;">
  <div class="card-body" style='text-align: left;'>
    <h4 style='text-align: left;'>Organizational Structure</h4>
    <div clas='employee-form'>
      <h6 style='display: inline-flex'>Add a employee</h6>
      <form action="{% url 'add_employee' idea.id %}" method="POST">
        {% csrf_token %}
        <input type="text" name='role' placeholder="Job Title">
        <input type="text" name='function' placeholder="Job Function">
        <input type="number" name="authlevel" placeholder="Authorization Level">
        <input type='submit' value='Add Employee'>
      </form>
    </div>
    <br>
    <div class='employee-list' style='display: flex; justify-content: center;'>
      <table>
        <thead>
          <tr>
            <th>Edit / Delete</th>
            <th>Role</th>
            <th>Function</th>
            <th>Authorization</th>
          </tr>
        </thead>
        <tbody>
        {% for employee in idea.employee_set.all %}
          <tr>
            <td>EDIT DELETE</td>
            <td>{{ employee.role }}</td>
            <td>{{ employee.function}}</td>
            <td>{{ employee.auth_level }}</td>
          <tr>
        {% empty %}
          <h4> You don't have any employees yet </h4>
        {% endfor %}
        </tbody>
      </table>
    </div>

  </div>
</div>

<div class="card text-center" style="width: 82.5%; margin: 1rem; min-width: 285px;">
  <div class="card-body" style='text-align: left;'>
    <h4>Additional Photos</h4>
    <form action="{% url 'add_photo' idea.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
      {% csrf_token %}
      <input type="submit" class="btn btn-primary" value="Upload Photo">
      <input type="file" name="photo-file">
    </form>

    {% for photo in idea.photo_set.all %}
    <div class="img-wrap">
      <img id='detail_logo' src="{{ photo.url }}" style="width: 18rem; justify-self: center;" >
      <a href="{% url 'delete_photo' photo.id idea.id%}"><i class="fas fa-times" style='color: black'></i></a>
    </div>
  {% empty %}
    <div class="card-panel teal-text center-align">No Photos Uploaded</div>
  {% endfor %}

  </div>
</div>

{% endblock %}